.App {
  text-align: center;
  color: #96a9bd;
}

.app-container {
  padding: 2% 5%;
}

.app-categories {
  text-align: left;
}

.table thead tr {
  background-color: #364355;
}

.table thead tr th {
  cursor: pointer;
}

.table tbody tr td {
  vertical-align: middle;
}